.quadrant-1 { fill: #3773b3; }
.quadrant-2 { fill: #33dd33; }
.quadrant-3 { fill: #cc2b2b; }
.quadrant-4 { fill: #ddda2a; }

.node { fill: azure; }

.quadrant-label {
  fill: #0d0d0d;
  font-size: 24px;
  font-weight: bold;
}

.node-label { fill: black; }